body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-items: center;
  padding-bottom: 8vh;
}

.PostCardContainer {
    background: #fff;
    box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
    margin: 48px auto;
    width: 80vh;
    @media screen and (min-width: 480px) {
      width: 28rem;
    }
    @media screen and (min-width: 767px) {
      width: 40rem;
    }
    @media screen and (min-width: 959px) {
      width: 50rem;
    }
}

.PostBorder {
  border-style: solid;
  padding: 3vh;
  margin-bottom: 3vh;
  border-radius: 1.5%;
}

.PostContent {
  width: -moz-fit-content;
  width: fit-content;
}

.addFavButton {
  float: right;
}

.login-page {
  /* display: grid;
  grid-template-columns: 10%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 25vh;
  padding-block: 4vh;
  border-style: solid;
  border-radius: 1.5%;
}

Link {
  text-decoration: none;
}

.CommentContainer {
  width: 50vh;
}

.FullPostBorder {
  display: flex;
  justify-content: space-around;
}

.FullPostContent {
  border-style: solid;
  border-radius: 1.5%;
}

.CommentContainer {
  border-style: solid;
  border-radius: 1.5%;
}

.CommentSingle {
  border-style: solid;
  border-radius: 1.5%;
}